# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.swp
*.swo
.DS_Store

# Ignore Byebug command history file.
.byebug_history

# Ignore CI tools directory
/coverage
/.yardoc/
/_yardoc/
